.grid-container
{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 25% 25% 25% 25%;
    max-width: 90vw;
    margin: auto;
}

.grid-element
{
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-area
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 0px;
}

button{
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button.green
{
    background-color:#87d25f;
    color: white;

}